// Colours
$primary-color: #3d5335;
$secondary-color: #80817f;
$text-color: #fff;
$primary-text-color: #435146;

// Fonts
$primary-font: "Quicksand", sans-serif;
$secondary-font: "Xanh Mono", monospace, serif;

// Transitions
$transition: 0.5s ease;
